# use glob syntax.
syntax: glob
*.ser
*~
*.bak
#*.off
*.old
out/*

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

.cache-main
.cache-tests

.DS_Store
/.gradle/
_ignore
